---
layout: default
---

{% for post in site.posts %}
<article>
  <header>
    {% if post.link %}
      <h2 class="link">
        <a href="{{ post.link }}">{{ post.title }}</a>
        <span class="linkarrow">&rarr;</span>
      </h2>
    {% else %}
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {% endif %}
    <p>
      <time datetime="{{ post.date }}" pubdate="pubdate">
        {{ post.date | date_to_string }}
      </time>
      <a class="permalink" title="Permalink" href="{{ post.url }}">&infin;</a>
    </p>
  </header>

  {{ post.content }}
</article>
{% endfor %}
