@import "reset";
@import "grid";
@import "h5bp";

html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: Merriweather, Georgia, serif;
  background: #fff;
  color:#222;
  -webkit-text-stroke: 1px transparent;
  -webkit-font-smoothing: antialiased; /* ^ Fix for webkit rendering thin fonts */
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizelegibility; /* may be supported eventually... */
  font-size: 19px;
  line-height: 1.5;
}


::-moz-selection { background: #2b6a7e; color: #eee; text-shadow: none; }
::selection { background:#2b6a7e;
  color: #eee;
  text-shadow: none; }
a::selection { color:#eee8d5; }


a, a:visited {  
  color:#2b6a7e;
  text-decoration:none;
  border-bottom: 1px dotted #ddd;
  font-weight: normal;
  font-style: normal;
}
a:hover, a:active { outline: 0; }
a:hover { 
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  color:#d93234;
  background:#f5f5f5;
}
a:visited { }
a:focus { outline: thin dotted; }
a:active { position:relative; top:1px; }

ins {
  text-decoration:none;
  border-bottom: 1px dashed #ccc;
}

mark {
  background-color:#ff9;
  color:#000; 
}

del {
  text-decoration: line-through;
}

#topBar {
  height:8px;
  display:block;
  width:100%;
  background:#2b6a7e;
  border-bottom:none;
  -webkit-box-shadow: 0 0 5px #555;
  -moz-box-shadow: 0 0 5px #555;
  box-shadow:0 0 5px #555;
  position:fixed;
  z-index:1;
}

#topBar:hover { }
#topBar:active { top:0; }

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px dotted #ccc;
    margin:1em 0;
    padding:0;
}

header { }

section.content p { margin-bottom: 40px; }

#mastheadbackground {
  height:140px;
  margin-bottom:-130px;
}

#masthead {
  padding-top:20px;
  height:110px;
  margin-bottom:60px;

  h1 {
    font-family: Georgia, serif;
    text-align:center;

    a, a:visited {
      font-size:36px;
      border-bottom:none;
      color:#323b41;
      font-weight:bold;
    }
  }
}

.borderlands {
  width: 100%;
  height: 0px;
  margin-top: 10px;
  border-bottom:1px dotted #ccc;
}

p#description {
  text-align:center;
  padding-top:18px;
}

article {
  padding: 0px 0px 100px;
  line-height: 1.8;

  header {
    margin-bottom:30px;

    h2 {
      font-size:24px;
      font-weight:normal;
    }

    a {
      font-size:24px;
    }

    p {
      color:#aaa;
      font-style:italic;
    }
  }

  h2 {
    font-size:20px;
    margin:30px 0 10px;
  }

  h3, h4 {
    margin:20px 0 10px;
  }
}

article header h2 a, article header h2 a:visited {
  border-bottom:none;
  color:#222;

  &:hover {
    color:#d93234;
  }
}

article.link h2 a, article.link h2 a:visited, h2.link a, h2.link a:visited {
  color:#2b6a7e;
  
  text-decoration:none;
  border-bottom: 1px dotted #ccc;
  font-weight: normal;
  font-style: normal;

  &:hover {
    color:#d93234;
  }
}

.archive {
  margin: 5% 0 10%;
  padding: 0;
  width: 100%;
}

.archivelink {
  margin: 1.5% 0;
}

.permalink {
  font-size:18px;
}

pre, code {
 font: 15px Monaco, Courier, monospace;
}

pre {
  border: 1px solid #ddd;
  color: #444;
  line-height:1.5em;
  margin:12px 0;
  overflow: auto;
  padding: 2px;
  white-space: pre;
  width: inherit;
  word-wrap: normal;
}

pre code {
  display: block;
  padding: 0.5em;
  background: white;
  border: none;
}

code {
  background-color:#f8f8ff;
  display: inline-block;
  color:#444;
  padding: 3px;
  border:1px solid #dedede;
}

footer {
  font-size: 16px;
  height:120px;
  text-align:center;
  border-top:1px dotted #ccc;
  padding-top: 30px;
  margin-bottom:30px;
  opacity:0.75;
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  width:100%;

  &:hover {
    opacity:1;
  }
}

form#search {
/*  margin:0 auto;*/
  border-radius:5px;
  width:255px;
  margin: 0 auto;
  outline:none;
}

#field {
  color: black;
  outline: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;

  // border: 8px solid clear;
  // box-shadow:0 0 5px #555;
  max-width:100%;
  height:auto;
  display:block;
  margin: 20px auto;
}

ul {
  list-style:circle;
}

ol {
/*  list-style:upper-roman;*/
}

ol.footnotes li {
  margin-bottom:15px;
}

blockquote { 
  font-size: 14px;
  margin: 0 18px 18px 18px;
  color: #555;
  padding-left: 15px;
  border-left: 2px solid #ddd;
}

.linkarrow {
  font-size: 20px;
}

.pagination {
  margin-bottom: 10px;
  margin-left: 2%;
  width: 100%;
  height: 60px;
  display: block;
  opacity: 0.75;
  transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;

  &:hover {
    opacity: 1.0;
  }

  div {
    float: left;
    min-width: 33%;
  }

  .pagearchive {
    display: block;
    text-align: center;
  }

  .older {
    display: block;
    text-align: left;
  }

  .newer {
    display: block;
    text-align: right;
  }
}

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
input[type="search"] {
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 0.4s;
  background: #fff;
/*  border-radius: 15px;*/
  font-size: 12px;
  height: 20px;
  border:solid 1px #ccc;
  padding: 2px 8px;
  width: 175px;
}

