@import "global";
@import "solarized";

$textcolor: $base0;
$bgcolor: $base03;

::-moz-selection { background-color: #1e3f45; color: #93a1a1; text-shadow: none; }
::selection { background:#839496; color:#93a1a1; text-shadow: none; }

body {
  color: $textcolor;
  background-color: $bgcolor;
}

#topBar {
  background: $base1;
}

a, a:visited {  
  color: $base00;
  border-bottom: 1px solid $base01;
}

a:hover {
  color: $base2;
  background: $base01;
}

#masthead h1 a,#masthead h1 a:visited {
  color: $base1;

  &:hover {
    color: $base2;
  }
}

@mixin title-links {
  a, a:visited {
    color: $textcolor;

    &:hover {
      color: $base2;
    }
  }
}

article header h2 {
  @include title-links;
}

article.link h2, h2.link {
  @include title-links;

  a, a:visited {
    border-bottom: 1px solid $base01;
  }
}

time {
  color: $base01;
}

mark {
  background: $textcolor;
  color: $base03;
}

ins {
  text-decoration:none;
  border-bottom: 1px dotted $base01;
}

blockquote { 
  color: $textcolor;
  border-left:2px solid $base02;
}

@mixin easeopacity($speed) {
  transition: opacity $speed ease-out;
  -moz-transition: opacity $speed ease-out;
  -webkit-transition: opacity $speed ease-out;
  -o-transition: opacity $speed ease-out;
}

img { /* TODO */
  border: none;
  // border: 8px solid clear;
/*  border: 4px solid #032B36;*/
/*  box-shadow:0 0 5px #555;*/
  opacity: 0.5;
  @include easeopacity(.3s);
/*  box-shadow:0 0 5px #eee7d6;*/
/*  box-shadow:0 0 5px #839496;*/
  box-shadow:none;

  &:hover {
    opacity: 1.0;
  }
}


pre {
  background-color: $base02;
  border:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

code {
  background-color: $base03;
  color: $textcolor;
  border:2px solid $base02;
}


footer {
  border-top: 1px solid $base01;
}

hr {
  border-top: 1px solid $base01;
}

.borderlands {
  border-bottom: 1px solid $base01;
}

input[type="search"] {
  background:#032b36;
  border:solid 1px #596e75;
}

#field {
  color: #596e75;
}

pre code {
  display: block;
  padding: 0.5em;
  background: #002b36;
  color: #839496;
}

.highlight {
  background-color: #ffffcc;
  .c, .c::selection { color: #586E75; } /* Comment */
  .err, .err::selection { color: #93A1A1; } /* Error */
  .g, .g::selection { color: #93A1A1; } /* Generic */
  .k, .k::selection { color: #859900; } /* Keyword */
  .l, .l::selection { color: #93A1A1; } /* Literal */
  .n, .n::selection { color: #93A1A1; } /* Name */
  .o, .o::selection { color: #859900; } /* Operator */
  .x, .x::selection { color: #CB4B16; } /* Other */
  .p, .p::selection { color: #93A1A1; } /* Punctuation */
  .cm, .cm::selection { color: #586E75; } /* Comment.Multiline */
  .cp, .cp::selection { color: #859900; } /* Comment.Preproc */
  .c1, .c1::selection { color: #586E75; } /* Comment.Single */
  .cs, .cs::selection { color: #859900; } /* Comment.Special */
  .gd, .gd::selection { color: #2AA198; } /* Generic.Deleted */
  .ge, .ge::selection { color: #93A1A1; font-style: italic; } /* Generic.Emph */
  .gr, .gr::selection { color: #DC322F; } /* Generic.Error */
  .gh, .gh::selection { color: #CB4B16; } /* Generic.Heading */
  .gi, .gi::selection { color: #859900; } /* Generic.Inserted */
  .go, .go::selection { color: #93A1A1; } /* Generic.Output */
  .gp, .gp::selection { color: #93A1A1; } /* Generic.Prompt */
  .gs, .gs::selection { color: #93A1A1; font-weight: bold; } /* Generic.Strong */
  .gu, .gu::selection { color: #CB4B16; } /* Generic.Subheading */
  .gt, .gt::selection { color: #93A1A1; } /* Generic.Traceback */
  .kc, .kc::selection { color: #CB4B16; } /* Keyword.Constant */
  .kd, .kd::selection { color: #268BD2; } /* Keyword.Declaration */
  .kn, .kn::selection { color: #859900; } /* Keyword.Namespace */
  .kp, .kp::selection { color: #859900; } /* Keyword.Pseudo */
  .kr, .kr::selection { color: #268BD2; } /* Keyword.Reserved */
  .kt, .kt::selection { color: #DC322F; } /* Keyword.Type */
  .ld, .ld::selection { color: #93A1A1; } /* Literal.Date */
  .m, .m::selection { color: #2AA198; } /* Literal.Number */
  .s, .s::selection { color: #2AA198; } /* Literal.String */
  .na, .na::selection { color: #93A1A1; } /* Name.Attribute */
  .nb, .nb::selection { color: #B58900; } /* Name.Builtin */
  .nc, .nc::selection { color: #268BD2; } /* Name.Class */
  .no, .no::selection { color: #CB4B16; } /* Name.Constant */
  .nd, .nd::selection { color: #268BD2; } /* Name.Decorator */
  .ni, .ni::selection { color: #CB4B16; } /* Name.Entity */
  .ne, .ne::selection { color: #CB4B16; } /* Name.Exception */
  .nf, .nf::selection { color: #268BD2; } /* Name.Function */
  .nl, .nl::selection { color: #93A1A1; } /* Name.Label */
  .nn, .nn::selection { color: #93A1A1; } /* Name.Namespace */
  .nx, .nx::selection { color: #93A1A1; } /* Name.Other */
  .py, .py::selection { color: #93A1A1; } /* Name.Property */
  .nt, .nt::selection { color: #268BD2; } /* Name.Tag */
  .nv, .nv::selection { color: #268BD2; } /* Name.Variable */
  .ow, .ow::selection { color: #859900; } /* Operator.Word */
  .w, .w::selection { color: #93A1A1; } /* Text.Whitespace */
  .mf, .mf::selection { color: #2AA198; } /* Literal.Number.Float */
  .mh, .mh::selection { color: #2AA198; } /* Literal.Number.Hex */
  .mi, .mi::selection { color: #2AA198; } /* Literal.Number.Integer */
  .mo, .mo::selection { color: #2AA198; } /* Literal.Number.Oct */
  .sb, .sb::selection { color: #586E75; } /* Literal.String.Backtick */
  .sc, .sc::selection { color: #2AA198; } /* Literal.String.Char */
  .sd, .sd::selection { color: #93A1A1; } /* Literal.String.Doc */
  .s2, .s2::selection { color: #2AA198; } /* Literal.String.Double */
  .se, .se::selection { color: #CB4B16; } /* Literal.String.Escape */
  .sh, .sh::selection { color: #93A1A1; } /* Literal.String.Heredoc */
  .si, .si::selection { color: #2AA198; } /* Literal.String.Interpol */
  .sx, .sx::selection { color: #2AA198; } /* Literal.String.Other */
  .sr, .sr::selection { color: #DC322F; } /* Literal.String.Regex */
  .s1, .s1::selection { color: #2AA198; } /* Literal.String.Single */
  .ss, .ss::selection { color: #2AA198; } /* Literal.String.Symbol */
  .bp, .bp::selection { color: #268BD2; } /* Name.Builtin.Pseudo */
  .vc, .vc::selection { color: #268BD2; } /* Name.Variable.Class */
  .vg, .vg::selection { color: #268BD2; } /* Name.Variable.Global */
  .vi, .vi::selection { color: #268BD2; } /* Name.Variable.Instance */
  .il, .il::selection { color: #2AA198; } /* Literal.Number.Integer.Long */
  .lineno, .lineno::selection { color: red; }
}

@import "print";

