<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
  {% if page.title %}
    <title>{{ page.title }} - {{ site.name }}</title>
  {% else %}
    <title>{{ site.name }}</title>
  {% endif %}

    <meta name="author" content="{{ site.author }}">
    <link rel="author" href="https://plus.google.com/114321628813035573740/">
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ site.feed }}">

    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

    <!-- Thank you http://mathiasbynens.be/notes/touch-icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/touchicons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/touchicons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/touchicons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/touchicons/apple-touch-icon-precomposed.png">

    <!--[if lt IE 9]>
      <script type="text/javascript" language="Javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="/css/style.css" title="default">
  </head>
  <body>
    <section class="container">
      <div id="masthead">
        <h1><a href="/">Keith Smiley</a></h1>

        <p id="description">
           <a href="https://twitter.com/SmileyKeith">Twitter</a>
           | <a href="https://github.com/Keithbsmiley" title="Open source = awesome">GitHub</a>
        </p>
      </div>

      <section class="content">
        {{ content }}
      </section>
    </section>

    <script>
        var _gaq=[['_setAccount','UA-10630305-13'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
