---
layout: default
---

{% if page.link %}
<article class="link">
{% else %}
<article>
{% endif %}
  <header class="seven columns">
    {% if page.link %}
      <h2>
        <a href="{{ page.link }}">{{ page.title }}</a>
        <span class="linkarrow">&rarr;</span>
      </h2>
    {% else %}
      <h2>{{ page.title }}</h2>
    {% endif %}
    <p>
      <time datetime="{{ page.date }}" pubdate="pubdate">
        {{ page.date | date_to_string }}
      </time>
      <a class="permalink" title="Permalink" href="{{ page.url }}">&infin;</a>
    </p>
  </header>

  <div class="post ten columns">
    {{ content }}
  </div>
</article>

<div class="ten columns blogarchive">
  <a href="/archives/">Blog Archive</a>
</div>
